*/* Reset básico do navegador*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 249, 249);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Cabeçalho */
.partePreta {
  background-color: #000;
  text-align: center;
  padding-bottom: 20px;
  /* Mantem o título centralizado e flexivél a outras telas */
}

h1 {
  color: aliceblue;
  padding: 30px 0;
}

/* Menu horizontal */
.menu {
    /* Remove os marcadores da lista */
  list-style: none;
  /* Coloca os itens em um linha */
  display: flex;
  justify-content: center;
  /* Centraliza o conteúdo */
  gap: 25px;
  /* Espaçamento entre cada elemento */
  padding: 15px 0;
  border: solid, rgb(181, 53, 28), 3px;
  background-color: #b9b9b9ff;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  
}

/* Imagem de capa */
#imagemCapa {
/* Evita imagens gigantes, deixa a imagem responsiva preenchendo sem distorcer */
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Títulos e seções */
#t1 {
  text-align: center;
  margin: 40px 0;
}

.fotosCervejas {
  height: 470px;
  border: solid 1px rgb(181, 53, 28);
}

.titulos {
  margin: 20px 10px;
}

/* Linha decorativa */
.linhaHorizontal {
  border: none;
  height: 3px;
  background-color: rgb(181, 53, 28);
  margin: 20px auto;
}
.copy{
  text-align: center;
  background-color:rgb(255, 255, 255);
  padding: 5px;
}
.logo{
  height: 150px;
  margin: 10px;
}

.cor{     
    border: solid 1px #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
}
